<html>

<head>
    <title>ComboDepot</title>
    <meta property="og:title" content="Browse" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://broken.link" />
    <meta property="og:description" content="Browse combos for Under Night In Birth!" />
    <script type="module">
        window.comboList = {{{ rawJson }}};
    </script>
    {{{htmlHeader}}}
</head>

<body>
    <div id="root"></div>
</body>

</html>